<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Weather Report Application</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Weather Report</h1>
    </div>

</main>
<!-- /.container -->

<table>
    <thead>
    <tr>
        <th> Country </th>
        <th> Date </th>
        <th> Latitude </th>
        <th> Longitude </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${weathers.empty}">
        <td colspan="2"> No Weather report available </td>
    </tr>
    <tr th:each="weather : ${weathers}">
        <td><span th:text="${weather.placeLabel}"> Country </span></td>
        <td><span th:text="${weather.date}"> Date </span></td>
        <td><span th:text="${weather.latitude}"> Latitude </span></td>
        <td><span th:text="${weather.longitude}"> Longitude </span></td>
    </tr>
    </tbody>
</table>

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>
